[Unit]
Description=Night vision led control
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3.7 /var/www/html/led.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target